<form action="/edit" method="POST" id="editForm">

    <!-- キャンセルボタン -->
    <button type="submit" name="action" value="cancel"
        onclick="return confirm('内容を破棄しますか？');">
        キャンセル
    </button>

    <br>

    <!-- 税計算方式の選択 -->
    <div>
        <label>
            <input type="radio" name="tax_calc_mode" value="all"
                {% if tax_calc_mode == "all" %}checked{% endif %} 
                onchange="changeTaxMode()">  
            税率ごとの小計に税率を適用（合計方式）
        </label>
        <label>
            <input type="radio" name="tax_calc_mode" value="part"
                {% if tax_calc_mode == "part" %}checked{% endif %}
                onchange="changeTaxMode()">  
            各品目ごとに税率を適用（個別方式）
        </label>
    </div>

    <br>

    <table>
        <tr>
            <th></th>
            <th>品目</th>
            <th>価格</th>
            <th>税率</th>
        </tr>

        {% for item in items %}
        <tr>
            <!--削除ボタン-->
            <td>
                <button type="button" data-index="{{ loop.index0 }}" onclick="deleteItem(this)">-</button>
            </td>
            <!--品目-->
            <td>
                <input type="text" data-index="{{ loop.index0 }}" value="{{ item.name }}" onblur="updateName(this)">
            </td>
            <!--価格-->
            <td>
                <input type="number" data-index="{{ loop.index0 }}" value="{{ item.price }}" onblur="updatePrice(this)">
            </td>
            <!--税率-->
            <td>
                <select data-index="{{ loop.index0 }}" onchange="updateTax(this)">
                    <option value="default" {% if item.tax_mode == "default" %}selected{% endif %}>--</option>
                    <option value="tax8" {% if item.tax_mode == "tax8" %}selected{% endif %}>+8%</option>
                    <option value="tax10" {% if item.tax_mode == "tax10" %}selected{% endif %}>+10%</option>
                </select>
            </td>
        </tr>
        {% endfor %}
    </table>

    <!--追加ボタン-->
    <button type="button" onclick="addItem()">＋追加</button>

    <br>

    <!--割引-->
    <h4>{{ discount.name }}：<input type="number" id="discountPrice" value="{{ discount.price }}" onblur="updateDiscount()">円

    <!--税額-->
    {% for i in tax %}
    <h4>{{ i.name }}：{{ i.price }}円</h4>
    {% endfor %}

    <br>

    <!--合計-->
    <h3>{{ total.name }}：{{ total.price }}円</h3>

    <!--エラーメッセージ-->
    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}

    <br>

        <!-- 確認ボタン -->
        <button type="submit" name="action" value="confirm">確認</button>
</form>