{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card shadow-sm p-4 bg-white rounded">
            <h2 class="text-center mb-4">アカウント登録</h2>

            {% for message in get_flashed_messages() %}
            <div class="alert alert-danger p-2 text-center" role="alert">
                {{ message }}
            </div>
            {% endfor %}

            <form method="POST" novalidate="novalidate">
                {{ form.csrf_token }}

                <div class="mb-3">
                    {{ form.mailaddress.label(class="form-label") }} 
                    {{ form.mailaddress(class="form-control", placeholder="メールアドレス") }}
                    {% for error in form.mailaddress.errors %}
                    <div classs="text-danger small mt-1">{{ error }}</div>
                    {% endfor %}
                </div>

                <div class="mb-3">
                    {{ form.password.label(class="form-label") }}
                    {{ form.password(class="form-control", placeholder="パスワード") }}
                    {% for error in form.password.errors %}
                    <div class="text-danger small mt-1">{{ error }}</div>
                    {% endfor %}
                </div>

                <div class="d-grid mt-4">
                    {{ form.submit(class="btn btn-primary btn-lg") }}
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}